<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umpt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE">
   </uses-permission>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.umpt.MainActivity"
            android:label="@string/app_name" >
          
        </activity>
        <activity
            android:name="com.example.umpt.CommunicationActivity"
            android:label="通讯保护" >
        </activity>
        <activity
            android:name="com.example.umpt.SoftwareActivity"
            android:label="软件管理" >
        </activity>
        <activity
            android:name="com.software.umpt.SoftwareInfoActivity"
            android:label="软件管理" >
        </activity>
        <activity
            android:name="com.example.umpt.SystemActivity"
            android:label="系统优化" >
        </activity>
        <activity
            android:name="com.example.umpt.InternetActivity"
            android:label="流量管理" >
        </activity>
        <activity
            android:name="com.cleanmaster.umpt.CleanActivity"
            android:label="cm" >
        </activity>

        <!-- 注册桌面插件 -->
        <receiver
            android:name="com.example.umpt.CleanWidget"
            android:icon="@drawable/clean_icon_widget"
            android:label="@string/clean_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_properties" />
        </receiver>

        <activity
            android:name="com.dialog.umpt.DialogActivity"
            android:label="dialog" >
        </activity>
        <activity
            android:name="com.internet.umpt.InternetInfoActivity"
            android:label="internetinfo" >
        </activity>
        <activity
            android:name="com.example.umpt.GuideActivity"
            android:label="@string/title_activity_guide" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        
        
        
        
          <activity
            android:name="com.security.umpt.SelectContactActivity"
            android:label="cm" >
        </activity>
        <activity
            android:name="com.security.umpt.SetupGuide1Activity"
            android:label="cm" >
        </activity>
        <activity
           android:name="com.security.umpt.SetupGuide2Activity"
            android:label="cm" >
        </activity>
        <activity
            android:name="com.security.umpt.SetupGuide3Activity"
            android:label="cm" >
        </activity>
        <activity
            android:name="com.security.umpt.SetupGuide4Activity"
            android:label="cm" >
        </activity>
         <activity
            android:name="com.security.umpt.LostProtectedActivity"
            android:label="cm" >
        </activity>
          <activity android:name="com.callsattribution.umpt.AttributionActivity"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name="com.appinformation.umpt.AppSizeActivity"
                  android:label="@string/app_name">
       
        </activity>
          <activity
            android:name="com.black.umpt.JieListActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="com.black.umpt.ViewResult"
            	  
				  android:label="黑名单列表">
				  
		</activity>
		<activity android:name="com.black.umpt.Choice"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="请操作">
				  
		</activity>
		<receiver android:name="com.black.umpt.BroadcastJie">    
		    <intent-filter android:priority="999">    
		        <action android:name="android.intent.action.PHONE_STATE"/>
  				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
		        <action android:name="android.intent.action.BOOT_COMPLETED" />   
		    </intent-filter>    
		</receiver>
		<service android:name="com.black.umpt.blacklistService">
            
        </service>
        
		
		
		
		
		
		<activity
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:name="com.applock.umpt.AppLockActivity"
            android:label="@string/app_name"  >
        </activity>
        <activity
            android:name="com.applock.umpt.setPassWordActicity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.applock.umpt.LockScreenActivity">
        </activity>

        <service android:name="com.applock.umpt.WatchDogService" >
        </service>

        <provider
            android:name="com.applock.umpt.AppLockProvider"
            android:authorities="cn.test.applockprovider" >
        </provider>

        <receiver android:name="com.applock.umpt.LockScreenReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.SCREEN_OFF" />
 <!-- 屏幕锁后的广播 -->
            </intent-filter>
        </receiver>
    </application>

</manifest>
